<div class="design">
<h1>CADASTRO DE CLIENTES</h1>
</div>
<%= render "form", cliente: @cliente %>

<br>

<div>
<button id="voltar" type="submit">
  <%= link_to "Voltar", clientes_path %>
</button>
</div>
