<div id="<%= dom_id part %>">
  <p>
    <strong>Nome:</strong>
    <%= part.nome %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= part.quantidade %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= part.preco %>
  </p>

</div>
