<div class="design">
<p style="color: green"><%= notice %></p>

<h1>PEÇAS</h1>

<div id="parts">
  <% @parts.each do |part| %>
    <%= render part %>
    <button type="submit">
      <%= link_to "Ver peça", part %>
    </button>
  <% end %>
</div>

<button type="submit">
<%= link_to "Cadastrar peça", new_part_path %>
</button>

</div>