<div id="<%= dom_id equipe %>">

  <p>
    <strong>Nome:</strong>
    <%= equipe.nome %>
  </p>

  <p>
    <strong>FUNCIONÁRIOS:</strong>
    <ul>
      <% equipe.funcionarios.each do |funcionario| %>
          <li><%= funcionario.nome %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>DESCRIÇÃO</strong>
    <%= equipe.descricao %>
  </p>

</div>
