<h1>EDITAR EQUIPE</h1>

<%= render "form", equipe: @equipe %>

<br>

<div>
<button type="submit">
  <%= link_to "Ver Equipe", @equipe %> 
</button>  
<button type="submit">
  <%= link_to "Voltar", equipes_path %>
</button>
</div>
