<div class="design">
<p style="color: green"><%= notice %></p>

<h1>EQUIPES</h1>

<div id="equipes">
  <% @equipes.each do |equipe| %>
    <%= render equipe %>
    <button type="submit">
      <%= link_to "Ver Equipe", equipe %>
    </button>
  <% end %>
</div>
<button type="submit">
<%= link_to "Cadastrar equipe", new_equipe_path %>
</button>
</div>