<div class="design">
<p style="color: green"><%= notice %></p>

<h1>ORDENS</h1>

<div id="ordem_servicos">
  <% @ordem_servicos.each do |ordem_servico| %>
    <%= render ordem_servico %>
    <button type="submit">
      <%= link_to "Show this ordem servico", ordem_servico %>
    </button>
  <% end %>
</div>

<button type="submit">
<%= link_to "Cadastrar ordem servico", new_ordem_servico_path %>
</button>

</div>
