<div class="design">
<h1>CADASTRAR ORDEM DE SERVIÇO</h1>

<%= render "form", ordem_servico: @ordem_servico %>

<br>

<div>
  <button type="submit">
    <%= link_to "Voltar", ordem_servicos_path %>
  </button>
</div>
</div>