<div class="design">
<h1>EDITAR FUNCIONÁRIO</h1>

<%= render "form", funcionario: @funcionario %>

<br>

<div>
<button type="submit">
  <%= link_to "Voltar", funcionarios_path %>
</button>
</div>
</div>