<div class="design">
<p style="color: green"><%= notice %></p>

<%= render @funcionario %>

<div>

<button type="submit" style="margin-left:1vw; margin-top:10.5vw" >
  <%= link_to "Voltar", funcionarios_path %>
</button>

</div>
</div>